*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
 }
body
{
    height: 100%;
    background: linear-gradient(to right, fuchsia, rgba(255, 0, 0, 0.775)); 
} 
.container
{
   position: absolute;
   width: 50%;
   transform:translate(-50%,-50%);
   top: 50%;
   left: 50%;
   background: violet;
   padding: 50px 10px;
   border-radius:10px ;
   display: grid;
   justify-items: center;
   font-family: Verdana;
   
}
h3{
    font-size: 30px;
    font-weight: 600;
    color: blue;
}
h2{
    font-size: 30px;
    font-weight: 600;
    color: purple;
}
input[type="text"]
{
    width: 90px;
    font-weight: 600;
    padding: 20px 0;
    font-size: medium;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
    border: 3px solid black;
    color:darkgreen;
    
}
button{
    width: 160px;
    padding: 15px 0;
    border-radius: 8px;
    background-color:green;
    color: blanchedalmond;
    font-size: 18px;
    font-weight: 600;
}
p{
    font-weight: 600;
    color: darkviolet;
}
